<script src="js/angular.min.js"></script>
<div ng-app="myApp" ng-controller="myCtrl">

First lesson language: <input type="text" ng-model="one"><br>
Second lesson language: <input type="text" ng-model="two"><br>
Third lesson language: <input type="text" ng-model="three"><br><br>
<i id="1">english</i> <a href="translations/{{one}}/beginner/LessonUse.pdf">PDF</a><br>
<i id="2">english2</i> <a href="translations/{{two}}/beginner/LessonUse.pdf">PDF</a><br>
<i id="3">english3</i> <a href="translations/{{three}}/beginner/LessonUse.pdf">PDF</a>
<br><br>
Full langs: {{one + ' ' + two + ' ' + three}}

</div>
<script>
	     language = window.location.hash.substring(1);
  function textFileToArray( filename )
{
    var reader = (window.XMLHttpRequest != null ) 
               ? new XMLHttpRequest() 
               : new ActiveXObject("Microsoft.XMLHTTP");
    reader.open("GET", filename, false );
    reader.send( );
    return reader.responseText.split(/(\r\n|\n)/g); 
  }
  
 document.write('<scr'+'ipt>var urldes =  textFileToArray("translations/'+language+'/lessons.txt");</scr'+'ipt>');
</script>


<script>

  
var a = ['','one','two','three','four', 'five','six','seven','eight','nine','ten','eleven','twelve','thirteen','fourteen','fifteen','sixteen','seventeen','eighteen','nineteen'];
var b = ['', '', 'twenty','thirty','forty','fifty', 'sixty','seventy','eighty','ninety'];

function inWords (num) {
    if ((num = num.toString()).length > 9) return 'overflow';
    n = ('000000000' + num).substr(-9).match(/^(\d{2})(\d{2})(\d{2})(\d{1})(\d{2})$/);
    if (!n) return; var str = '';
    str += (n[1] != 0) ? (a[Number(n[1])] || b[n[1][0]] + ' ' + a[n[1][1]]) + 'crore ' : '';
    str += (n[2] != 0) ? (a[Number(n[2])] || b[n[2][0]] + ' ' + a[n[2][1]]) + 'lakh ' : '';
    str += (n[3] != 0) ? (a[Number(n[3])] || b[n[3][0]] + ' ' + a[n[3][1]]) + 'thousand ' : '';
    str += (n[4] != 0) ? (a[Number(n[4])] || b[n[4][0]] + ' ' + a[n[4][1]]) + 'hundred ' : '';
    str += (n[5] != 0) ? ((str != '') ? 'and' : '') + (a[Number(n[5])] || b[n[5][0]] + '' + a[n[5][1]]) + '' : '';
    return str;
}



//var urldes = ['n/a','none','text1','text2'];

var i = 1;
document.write('<scr'+'ipt>\
var app = angular.module("myApp", []);\
    app.controller("myCtrl", function($scope) {\
 ');   
    while (i < 4) {
	       if (urldes[i] != 'none') {
	       document.getElementById(String(i)).innerHTML = urldes[i];
	       document.write('$scope.'+inWords(i)+' = "'+language+'";');
	       } else {
	       document.write('$scope.'+inWords(i)+' = "en-us";');
	       }
  i = i + 1;
  }
document.write('});\
</scr'+'ipt>');
	     </script>
