<div class="side-bar sticky-top">

  <br>
  <br>
  <br>

  <div class="card">
    <br />
    <img class="card-img-top img-fluid" src="{{ BASE_PATH }}/assets/images/SANDA2.jpg" alt="Sanjay and Arvind Seshan">
    <div class="card-block">
      <h4 class="card-title">Sanjay and Arvind Seshan</h4>
      <p class="card-text">Passionate about teaching kids to code.</p>
      <p class="card-text">Creators of the premier MINDSTORMS programming site.</p>
      <p class="card-text"></p>
      {% include social-block.html %}
    </div>

  </div>


  <div>


  </div>

</div>
