<!-- Content Area Start -->
<div id="content">
  <!-- tabs-accordions -->
  <div class="tabs-accordions">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-header-title">
            <h2 class="heading-title text-center">About Us</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1">        </div>
        <div class="col-sm-10">
          <img style="width:100%" src="{{ BASE_PATH }}/assets/images/AboutUs.jpg" alt="">
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="text">
        <span>EV3Lessons was founded in 2014 by Arvind and Sanjay to support users of LEGO MINDSTORMS EV3. The founders have a long history of creating and sharing educational curriculum and resources. They have been involved in programming with LEGO MINDSTORMS since 2011 and were named the youngest MINDSTORMS Community Partners in 2017. Their work has been featured globally, including on LEGO social media, LEGO events and also in the MINDSTORMS App. Their goal is to provide open-source, high-quality lessons to students, teachers and robotics teams everywhere. EV3Lessons has grown to support 850,000 in 175 countries. The lessons and tools have been translated into other languages through collabortions with students and adults worldwide. In 2018, a spinoff called <a href="http://www.FLLTutorials.com">FLL Tutorials</a> was launched to focus on resources for FIRST LEGO League. EV3Lessons is also affiliated with <a href="www.primelessons.org">SPIKE Prime Lessons.</a>
          <br>
            <br>
            EV3Lessons.com is run through 501(c)(3) Droids Robotics, a non-profit. Everything shared on EV3Lessons is provided free of charge. If you wish to support the site in any way, please email (team@ev3lessons.com). <br></span>
          </div>

          <div class="mb-60">&nbsp;</div>

        </div>
      </div>
    </div>
    <!-- tabs-accordions -->
  </div>
  <!-- Content Area End -->
