     <div id="dsaa" style="max-width:100%">
	<table>
	  <tr>
	    <td>
        <a href='corevalues.html' >
          <img style="border-style: solid;
          border-width: 2px;
          border-color: #98bf21;
          border-top-left-radius: 10px 5px;
          border-bottom-right-radius: 10px 5px;
          border-bottom-left-radius: 10px 5px;
          border-top-right-radius: 10px 5px; max-width:100%" src="images/dsa/teambuilding.jpg" >
        </a>
</td>
	    <td>
        <a href='corevalues.html' >
          <img style="border-style: solid;
          border-width: 2px;
          border-color: #98bf21;
          border-top-left-radius: 10px 5px;
          border-bottom-right-radius: 10px 5px;
          border-bottom-left-radius: 10px 5px;
          border-top-right-radius: 10px 5px; max-width:100%" src="images/dsa/teambuilding.jpg" >
        </a>
</td>	    <td>
        <a href='corevalues.html' >
          <img style="border-style: solid;
          border-width: 2px;
          border-color: #98bf21;
          border-top-left-radius: 10px 5px;
          border-bottom-right-radius: 10px 5px;
          border-bottom-left-radius: 10px 5px;
          border-top-right-radius: 10px 5px; max-width:100%" src="images/dsa/teambuilding.jpg" >
        </a>
</td>	    <td>
        <a href='corevalues.html' >
          <img style="border-style: solid;
          border-width: 2px;
          border-color: #98bf21;
          border-top-left-radius: 10px 5px;
          border-bottom-right-radius: 10px 5px;
          border-bottom-left-radius: 10px 5px;
          border-top-right-radius: 10px 5px; max-width:100%" src="images/dsa/teambuilding.jpg" >
        </a>
	    </td>
	  </tr>
	</table>
</div>
