
<div id="content">

  <div class="owl-carousel owl-theme">
    <div> <img src="{{ BASE_PATH }}/assets/images/slider/bg-1.jpg" alt=""> </div>
    <div> <img src="{{ BASE_PATH }}/assets/images/slider/bg-2.jpg" alt=""> </div>
    <div> <img src="{{ BASE_PATH }}/assets/images/slider/bg-3.jpg" alt=""> </div>
    <div> <img src="{{ BASE_PATH }}/assets/images/slider/bg-4.jpg" alt=""> </div>
    <div> <img src="{{ BASE_PATH }}/assets/images/slider/bg-5.jpg" alt=""> </div>
    <div> <img src="{{ BASE_PATH }}/assets/images/slider/bg-6.jpg" alt=""> </div>
  </div>

  <div class="mb-60"></div>
  <div id="features" class="container">
    <!-- SERVICES -->
    <div>
      <h2 class="title text-center">Overview</h2>
    </div>
    EV3Lessons provides a complete set of LEGO MINDSTORMS programming lessons for teams, teachers, and robotics enthusiasts. The tutorials are clear, to-the-point, and comprehensive, with something for every level of user.

    <div class="row">
      <!-- Start Service Icon 1 -->
      <div class="col-md-4 col-sm-6">
        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-battery-1
            "></i>
          </div>
          <div class="service-content">
            <h4><a href="Lessons.html?tab=beginner">Beginner Lessons</a></h4>
            <p>
              These are a complete set of lessons for anyone new to MINDSTORMS. They start with an introduction to the programming environment and end with a basic line follower. Complete these lessons in order.
            </p>
          </div>
        </div>
      </div>
      <!-- End Service Icon 1 -->

      <!-- Start Service Icon 2 -->
      <div class="col-md-4 col-sm-6">
        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-battery-2"></i>
          </div>
          <div class="service-content">
            <h4><a href="Lessons.html?tab=intermediate">Intermediate Lessons</a></h4>
            <p>
              These lessons are for teams ready to learn how to create My Blocks with inputs and outputs, use Data Wires and incorporate Parallel Beams.
            </p>
          </div>
        </div>
      </div>
      <!-- End Service Icon 2 -->

      <!-- Start Service Icon 3 -->
      <div class="col-md-4 col-sm-6">
        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-battery-3"></i>
          </div>
          <div class="service-content">
            <h4><a href="Lessons.html?tab=advanced">Advanced Lessons</a></h4>
            <p>
              These lessons are for the advanced user and include Proportional Control, using the Gyro Sensor, and Squaring on Lines.
            </p>
          </div>
        </div>
      </div>
      <!-- End Service Icon 3 -->

      <!-- Start Service Icon 4 -->
      <div class="col-md-4 col-sm-6">
        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-battery-4"></i>
          </div>
          <div class="service-content">
            <h4><a href="Lessons.html?tab=beyond">Going Beyond</a></h4>
            <p>
              These lessons are intended for a user who has completed all our lessons and wants to try something new. They include lessons on third-party sensors.
            </p>
          </div>
        </div>
      </div>
      <!-- End Service Icon 4 -->

      <!-- Start Service Icon 5 -->
      <div class="col-md-4 col-sm-6">
        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-cogs"></i>
          </div>
          <div class="service-content">
            <h4><a href="RobotDesigns.html">Robot Designs</a></h4>
            <p>
              This section has many robot designs with building instructions or CAD files to learn from. Many designs have been contributed by collaborators.
            </p>
          </div>
        </div>
      </div>
      <!-- End Service Icon 5 -->

      <!-- Start Service Icon 6 -->
      <div class="col-md-4 col-sm-6">
        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-vcard"></i>
          </div>
          <div class="service-content">
            <h4><a href="AboutUs.html">About Us</a></h4>
            <p>
              Founded in 2014, EV3Lessons has grown to become the premier site for learning to program the EV3.
            </p>
          </div>
        </div>
      </div>
      <!-- End Service Icon 6 -->
    </div>
  </div>
  <div class="mb-60"></div>

  <!-- HEADER -->

  <div class="header-style-3">
    <div class="container">
      <div class="row">
        <!--<div class="col-xs-12 col-sm-6">
        <figure>
        <img src="{{ BASE_PATH }}/assets/images/Champions.jpg" alt="">
      </figure>
    </div> -->
    <div class="col-xs-12 col-sm-6">

      <div class="hero-content-v2">
        <h3 style="color: #e2f309;background-color: #034c82c7;">Comprehensive Resources for <strong>FIRST LEGO League</strong></h3>
        <a target="_ " href="http://flltutorials.com/" class="btn btn-lg btn-default-filled animated fadeInUp">FLL Tutorials</a>
      </div>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
</div>
<!-- END HEADER -->

<!-- <div class="mb-60"></div>

<div class="container">
{% comment %}
{% include ads-block.html %}
{% endcomment %}
</div>  -->

<!-- Team Members 04 -->
<div class="container">
  <div class="team-members-tow mtb-50">
    <div class="sub-title">
      <span>EV3Lessons Team</span>
    </div>

    EV3Lessons has contributors all around the world.
    <div class="row">

      <div class="col-sm-6 col-md-3">
        <!-- Team Item Starts -->
        <figure>
          <img style="width:100%" src="{{ BASE_PATH }}/assets/images/Arvind.jpg" alt="">
          <div class="image-overlay">
            <div class="overlay-text text-center">
              <div class="info-text">
                <strong>Arvind</strong>
                <span>President/Founder</span>
              </div>
              <hr class="small-divider border-white">
              <ul class="social-icons">
                <li><a href="https://www.facebook.com/SeshanBrothers/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/seshanbrothers"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/seshanbrothers/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </figure>
        <!-- Team Item Ends -->
      </div>
      <div class="col-sm-6 col-md-3">
        <!-- Team Item Starts
        <figure>
          <img style="width:100%" src="{{ BASE_PATH }}/assets/images/Sanjay.jpg" alt="">
          <div class="image-overlay">
            <div class="overlay-text text-center">
              <div class="info-text">
                <strong>Sanjay</strong>
                <span>Founder/MIT</span>
              </div>
              <hr class="small-divider border-white">
              <ul class="social-icons">
                <li><a href="https://www.facebook.com/SeshanBrothers/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/seshanbrothers"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/seshanbrothers/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </figure>
        Team Item Ends -->
      </div>
      <!--
      <div class="col-sm-6 col-md-3">
      Team Item Starts
      <figure>
      <img src="{{ BASE_PATH }}/assets/images/EV3LessonsLogoSquare.png" alt="">
      <div class="image-overlay">
      <div class="overlay-text text-center">
      <div class="info-text">
      <strong></strong>
      <span></span>
    </div>

    <hr class="small-divider border-white">
    <ul class="social-icons">
    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
  </ul> -->
</div>
</div>
</figure>
<!-- Team Item Ends -->
</div>
<!--
<div class="col-sm-6 col-md-3">
Team Item Starts
<figure>
<img src="{{ BASE_PATH }}/assets/images/EV3LessonsLogo.png" alt="">
<div class="image-overlay">
<div class="overlay-text text-center">
<div class="info-text">
<strong>Danny Burton</strong>
<span>Senior Designer</span>
</div>
<hr class="small-divider border-white">
<ul class="social-icons">
<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
</ul>
</div>
</div>
</figure>
Team Item Ends
</div>  -->

</div>
</div>
</div>
<!-- End Team Members 04 -->


<div class="mb-60"></div>
<div id="counter">
  <div class="container">
    <h4 class="sub-title">EV3Lessons Statistics</h4>
    <div class="row count-to-sec">
      <div class="col-md-3 col-sm-6 count-one">
        <span class="icon"><i class="fa fa-user"> </i></span>
        <h3 class="timer count-value" data-to="561" data-speed="1000">850,000+</h3>
        <hr class="width25-divider">
        <small class="count-title">Users</small>
      </div>

      <div class="col-md-3 col-sm-6 count-one">
        <span class="icon"><i class="fa fa-globe"> </i></span>
        <h3 class="timer count-value" data-to="950" data-speed="1000">175</h3>
        <hr class="width25-divider">
        <small class="count-title">Countries</small>
      </div>

      <div class="col-md-3 col-sm-6 count-one">
        <span class="icon"><i class="fa fa-group"> </i></span>
        <h3 class="timer count-value" data-to="978" data-speed="1000">60</h3>
        <hr class="width25-divider">
        <small class="count-title">Collaborators</small>
      </div>

      <div class="col-md-3 col-sm-6 count-one">
        <span class="icon"><i class="fa fa-calendar"> </i></span>
        <h3 class="timer count-value" data-to="1700" data-speed="1000">Sept-Dec</h3>
        <hr class="width25-divider">
        <small class="count-title">Peak Season</small>
      </div>
    </div>
  </div>
</div>

<div class="mb-60"></div>

<div class="mb-60"></div>

<!-- CONTACT FORM -->
<div class="container" style="text-align:center">
  <div class="row">
    <div class="col-md-12">
      <h3 class="title-head text-center">Get in touch</h3>

      <!--
      <h4 class="contact-info-title">Contact Information</h4> -->
      <div class="contact-info">
        <address>
          <i class="fa fa-2x fa-map-marker icons cyan-color contact-info-icon"></i>
          Founded in Pittsburgh, PA, USA
          <br>

        </address>

        <a href="https://goo.gl/forms/EVzPdutz0uP1daXi1"><i class="fa fa-2x fa-envelope-o icons cyan-color contact-info-icon"></i>Contact Us Form</a>
        {% include social-block.html %}
      </div>

    </div>
  </div>



  <!-- Content area end -->

</div>
<script src="{{ BASE_PATH }}/assets/js/jquery.min.js"></script>

<script src="{{ BASE_PATH }}/assets/js/owl.carousel.min.js"></script>

<script>
$(document).ready(function(){
  $(".owl-carousel").owlCarousel({
    items: 1,
    animateOut: 'fadeOut',
    margin: 10,
    responsiveClass: true,
    lazyLoadEager: 1,
    loop: true,
    autoplay: true,
    autoplayTimeout: 3000,
  })
})
</script>
