				<div   class="inner home-testimonials home-section group">
			   <div class="title">
			        <h2><img src="images/icons/comment.png" alt="icon-adjust" /> Users love <br><span>EV3Lessons.com</span></h2>
			        <p>feedback</p>
			   </div>
<div class="w3-content w3-section" style="max-width:500px;float: left;padding-left:15px; text-align: left;">
  <p class="mySlides"  style="width:100%; ">"Hands down the best EV3 programming site around."</p>
	<p class="mySlides"  style="width:100%; ">"If you are new to EV3 programming, just run through the lessons at all levels and should have a great foundation for programming."</p>
	  <p class="mySlides"  style="width:100%; ">"EV3Lessons is the premier site for learning how to program the EV3."</p>
		<p class="mySlides"  style="width:100%; ">"I consider your website to be required reading for anyone programming the EV3."</p>
		<p class="mySlides"  style="width:100%">"I like that you have focused on the fundamental building blocks needed to begin programming and have organized your modules by increasing difficulty so there is something for everyone."</p>
  <p class="mySlides"  style="width:100%; ">"I have purchased, created and recreated curriculum material for my robotics classes over the past 6 years and put it all aside when I found your website."</p>
  <p class="mySlides"  style="width:100%; ">"Your lessons are the best, most useful, and most detailed that I have found!"</p>
  <p class="mySlides"  style="width:100%">"EV3Lessons is about the most extensive and accurate EV3 information I have seen."</p>
  <p class="mySlides"  style="width:100%">"As a coach and teacher I find this, site invaluable. You explain concepts more clearly than a lot of adults."</p>
  <p class="mySlides"  style="width:100%">"The tutorials teach concepts and techniques needed to use sensors successfully, and in return, students learn the skills to develop more complex code."</p>
   <p class="mySlides"  style="width:100%">"Nearly all the programming we will need to learn can be found in easy to digest nuggets at the website."</p>

</div>

			 <script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 4000); // Change image every 2 seconds
}
</script>
			    <script type="text/javascript">
			        jQuery(function($){
			            $(".home-testimonials ul").width( 600 - $(".home-testimonials .title").outerWidth() - 20 );
			            $(".home-testimonials ul").cycle({
			                fx: "scrollHorz",
			                speed: 600,
			                timeout: 4000            });
			        });
			    </script>

</div>

			<div class="clear"></div>
<!--		</div>
		<!-- END WRAPPER -->

           <div style="text-align: left;" class="inner home-portfolio home-services home-section group">
	      <h2><span>EV3Lessons.com:</span> What's New</h2>
	    <div class="hentry-post group first">
	      <h3>Announcements</h3>
				All Coach's Corner, Core Value Activities, Scorers and materials related to FIRST LEGO League have moved to <a href="www.flltutorials.com">FLL Tutorials</a>.
			    </div>

					<div class="hentry-post group">
			      <h3>Lessons</h3>
			       {% for post in site.categories.lessons limit:17 %}
<script>
if ('{{ post.lang }}' == 'en') {
document.write('			            <li><a class="post-link" href="lessons.html">{{ post.title }}</a></li>')
}
</script>

    {% endfor %}
</div>
<!--			   <div class="hentry-post group ">
			        <h3>Core Values</h3>
	       {% for post in site.categories.corevalues limit:5 %}
      <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
    {% endfor %}
			    </div>
<!--			    <div class="hentry-post group last">
			      <h3>Help Us</h3>
			      <p>Want to help? Email us.
			     </p>
			    </div>-->
		</div>

<div id="primary" align="middle" class=" inner home-portfolio home-section group layout-sidebar-right home-section">
	    <div class="inner group">
	    <div class="group">
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.<br>LEGO® is a trademark of the LEGO Group of companies which does not sponsor, authorize or endorse this site.
	    </div>
	    </div>
	    </div>


	       </div>

      </div>
