@font-face {
	font-family: 'Arial_Unicode_MS_TrueType_0';
	src: local('Arial_Unicode_MS_TrueType_0');
	src: url('Arial_Unicode_MS_TrueType_0.ttf') format('truetype');
}

.fmt-0{font-style:normal;font-weight:bold;font-family:Arial_Unicode_MS_TrueType_0,Arial Unicode MS,serif;color:#feffff;font-size:40pt;}

@font-face {
	font-family: 'Arial_Unicode_MS_TrueType_1';
	src: local('Arial_Unicode_MS_TrueType_1');
	src: url('Arial_Unicode_MS_TrueType_1.ttf') format('truetype');
}

.fmt-1{font-style:normal;font-weight:normal;font-family:Arial_Unicode_MS_TrueType_1,Arial Unicode MS,serif;color:#6b2085;font-size:28pt;}

@font-face {
	font-family: 'Times_New_Roman_TrueType_2';
	src: local('Times_New_Roman_TrueType_2');
	src: url('Times_New_Roman_TrueType_2.ttf') format('truetype');
}

.fmt-2{font-style:italic;font-weight:normal;font-family:Times_New_Roman_TrueType_2,Times New Roman,serif;color:#007500;font-size:10pt;}

@font-face {
	font-family: 'Cambria_TrueType_3';
	src: local('Cambria_TrueType_3');
	src: url('Cambria_TrueType_3.ttf') format('truetype');
}

.fmt-3{font-style:normal;font-weight:bold;font-family:Cambria_TrueType_3,Cambria,serif;color:#000000;font-size:10pt;}

@font-face {
	font-family: 'Times_New_Roman_TrueType_4';
	src: local('Times_New_Roman_TrueType_4');
	src: url('Times_New_Roman_TrueType_4.ttf') format('truetype');
}

.fmt-4{font-style:normal;font-weight:normal;font-family:Times_New_Roman_TrueType_4,Times New Roman,serif;color:#000000;font-size:10pt;}

@font-face {
	font-family: 'Cambria_TrueType_5';
	src: local('Cambria_TrueType_5');
	src: url('Cambria_TrueType_5.ttf') format('truetype');
}

.fmt-5{font-style:normal;font-weight:normal;font-family:Cambria_TrueType_5,Cambria,serif;color:#000000;font-size:10pt;}

@font-face {
	font-family: 'Times_New_Roman_TrueType_6';
	src: local('Times_New_Roman_TrueType_6');
	src: url('Times_New_Roman_TrueType_6.ttf') format('truetype');
}

.fmt-6{font-style:normal;font-weight:bold;font-family:Times_New_Roman_TrueType_6,Times New Roman,serif;color:#000000;font-size:10pt;}

.fmt-7{font-style:italic;font-weight:normal;font-family:Times_New_Roman_TrueType_2,Times New Roman,serif;color:#41495a;font-size:12pt;}

.fmt-8{font-style:normal;font-weight:bold;font-family:Arial_Unicode_MS_TrueType_0,Arial Unicode MS,serif;color:#521b92;font-size:12pt;}

.fmt-9{font-style:normal;font-weight:bold;font-family:Arial_Unicode_MS_TrueType_0,Arial Unicode MS,serif;color:#521b92;font-size:10pt;}

@font-face {
	font-family: 'Arial_Unicode_MS_TrueType_7';
	src: local('Arial_Unicode_MS_TrueType_7');
	src: url('Arial_Unicode_MS_TrueType_7.ttf') format('truetype');
}

.fmt-10{font-style:normal;font-weight:bold;font-family:Arial_Unicode_MS_TrueType_7,Arial Unicode MS,serif;color:#521b92;font-size:10pt;}

